# TODO: Generate a secret random string to use as a credential for your deployment
API_TOKEN="your-random-secret-here"

# TODO: Retrieve the Ngrok API key from their dashboard
NGROK_AUTHTOKEN="your-ngrok-authtoken"

# OPTIONAL: Set the user identifier to be added to request tags
# USER="your-username-here"

# TODO: Add any LLM credentials here that you would like to use
# See https://www.tensorzero.com/docs/gateway/guides/credential-management/ for details
# OPENAI_API_KEY="..."
# ANTHROPIC_API_KEY="..."
# GOOGLE_API_KEY="..."
# ...
