version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    labels: []
    open-pull-requests-limit: 0 # only send security updates

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    labels: []
    open-pull-requests-limit: 0 # only send security updates

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    labels: []
    open-pull-requests-limit: 0 # only send security updates

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      # This schedule does not affect security updates: https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/customizing-dependabot-security-prs#about-customizing-pull-requests-for-security-updates
      interval: "weekly"
    labels: []
    groups:
      rust-dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 1 # This does not affect the security update PR limit
