version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    labels: []
    open-pull-requests-limit: 0 # only send security updates

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    labels: []
    open-pull-requests-limit: 0 # only send security updates

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    labels: []
    open-pull-requests-limit: 0 # only send security updates

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    labels: []
    open-pull-requests-limit: 0 # only send security updates

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      rust-dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 1
