target
target-rust-analyzer
**/target-rust-analyzer
**/target
**/build
**/dist
**/.venv
**/node_modules
**/.env*
**/.vscode
**/.claude
ui/fixtures/*.jsonl
ui/fixtures/s3-fixtures
/recipes
/examples
gcp_jwt_key.json
.credentials/
/docs
!/examples/integrations/cursor/feedback
!/examples/quickstart/package.json
!/examples/integrations/helicone/package.json
!/examples/guides/tool-use/package.json
!/examples/haiku-hidden-preferences
