target
target-rust-analyzer
**/target-rust-analyzer
**/target
**/build
**/dist
**/.venv
**/node_modules
**/.env*
**/.vscode
**/.claude
ui/fixtures/small-fixtures
ui/fixtures/large-fixtures
**/test-results
/recipes
gcp_jwt_key.json
.credentials/
/clients
/docs
/examples
