repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
        exclude: |
          (?x)
          gateway/src/inference/providers/gcp_vertex_gemini\.rs|
          CONTRIBUTING\.md
      - id: end-of-file-fixer
        exclude: \.minijinja$
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check bans
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test-unit
        name: cargo test-unit
        entry: cargo test-unit
        language: system
        types: [rust]
        pass_filenames: false

      - id: prettier
        name: prettier
        entry: bash -c 'cd dashboard && npm run format'
        language: node
        types_or:
          [css, html, javascript, json, jsx, markdown, scss, ts, tsx, yaml]
        additional_dependencies:
          - prettier
          - prettier-plugin-tailwindcss
          - "@prettier/plugin-xml"
        exclude: '.*\.ipynb$'
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd dashboard && npm run lint'
        language: node
        types_or: [javascript, jsx, ts, tsx]
        additional_dependencies:
          - eslint
          - "@typescript-eslint/parser"
          - "@typescript-eslint/eslint-plugin"
        pass_filenames: false

      - id: tsc
        name: tsc
        entry: bash -c 'cd dashboard && npm run typecheck'
        language: node
        types_or: [ts, tsx]
        additional_dependencies:
          - typescript
        pass_filenames: false

  - repo: https://github.com/srstevenson/nb-clean
    rev: 3.2.0
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.0
    hooks:
      - id: ruff
        args: ["--extend-select", "I", "--fix"]
      - id: ruff-format
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.391
    hooks:
      - id: pyright
        name: "pyright: clients/python"
        files: ^clients/python/
        args: ["--project", "clients/python/pyproject.toml"]
        additional_dependencies:
          - httpx
          - uuid_utils

      - id: pyright
        name: "pyright: clients/openai-python"
        files: ^clients/openai-python/
        args: ["--project", "clients/openai-python/pyrightconfig.json"]
        additional_dependencies:
          - openai
