[workspace]
members = [
    "gateway",
    "gateway/tests/mock-inference-provider",
]
resolver = "2"


[workspace.lints.rust]
unsafe_code = "forbid"


[workspace.lints.clippy]
expect_used = "deny"
panic = "deny"
todo = "deny"
unimplemented = "deny"
unreachable = "deny"
unwrap_used = "deny"


[profile.performance]
inherits = "release"
lto = "fat"
codegen-units = 1
incremental = false
