# If you're running ClickHouse on your host machine:
# CLICKHOUSE_URL=http://host.docker.internal:8123

# If you're using ClickHouse Cloud:
# CLICKHOUSE_URL=https://USERNAME:PASSWORD@XXXXX.clickhouse.cloud:8443

# API Keys for Inference Providers
# Each of these is optional but necessary to infer using the provider
# ANTHROPIC_API_KEY=example
# AZURE_OPENAI_API_KEY=example
# FIREWORKS_API_KEY=example
# TODO(#223): Inject GCP / AWS credentials
# MISTRAL_API_KEY=example
# OPENAI_API_KEY=example
# TOGETHER_API_KEY=example
# VLLM_API_KEY=example
