# URL for ClickHouse Connection
CLICKHOUSE_URL=http://host.docker.internal:8123

# API Keys for Inference Providers
ANTHROPIC_API_KEY=example
AZURE_OPENAI_API_KEY=example
FIREWORKS_API_KEY=example
# TODO: figure out GCP and AWS
MISTRAL_API_KEY=example
OPENAI_API_KEY=example
TOGETHER_API_KEY=example
VLLM_API_KEY=example
