#  NOTE: This is an example configuration file for TensorZero.
#        You can use this file as a reference for your own configuration by adding
#        your own models, functions, and metrics.

# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                  GENERAL                                   │
# └────────────────────────────────────────────────────────────────────────────┘

# TODO: not used yet

# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                   MODELS                                   │
# └────────────────────────────────────────────────────────────────────────────┘

[models."gpt-3.5-turbo"]
routing = ["openai", "azure"]

[models."gpt-3.5-turbo".providers.openai]
type = "openai"
model_name = "gpt-3.5-turbo"

[models."gpt-3.5-turbo".providers.azure]
type = "azure"
model_name = "gpt-35-turbo"
api_base = "https://your-endpoint.openai.azure.com/"

[models.claude-3-haiku-20240307]
routing = ["anthropic"]

[models.claude-3-haiku-20240307.providers.anthropic]
type = "anthropic"
model_name = "claude-3-haiku-20240307"

# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                 FUNCTIONS                                  │
# └────────────────────────────────────────────────────────────────────────────┘

[functions]


# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                  METRICS                                   │
# └────────────────────────────────────────────────────────────────────────────┘

[metrics.task_success]
type = "boolean"  # "boolean", "float"
optimize = "max"  # "min", "max"
level = "inference"  # "inference", "episode"

[metrics.user_rating]
type = "float"
optimize = "max"
level = "episode"
