[models.claude_haiku_4_5]
routing = ["aws_bedrock"]

[models.claude_haiku_4_5.providers.aws_bedrock]
type = "aws_bedrock"
model_id = "anthropic.claude-haiku-4-5-20251001-v1:0"
region = "sdk"

[functions.my_function_name]
type = "chat"

[functions.my_function_name.variants.my_variant_name]
type = "chat_completion"
model = "claude_haiku_4_5"
