[package]
name = "gateway"
version = "0.1.0"
edition = "2021"


[features]
e2e_tests = []


[[test]]
name = "e2e"
path = "tests/e2e/tests.rs"
required-features = ["e2e_tests"]


[lints]
workspace = true


[dependencies]
async-stream = "0.3.5"
aws-config = { version = "1.5.11", features = ["behavior-version-latest"] }
aws-sdk-bedrockruntime = { version = "1.65.0", features = [
    "behavior-version-latest",
] }
aws-smithy-types = { version = "1.2.11", features = [
    "serde-deserialize",
    "serde-serialize",
] }
aws-types = "1.3.3"
axum = { version = "0.7.5", features = ["macros"] }
backon = { version = "1.2.0", features = ["tokio-sleep"] }
bytes = "1.6.1"
derive_builder = "0.20.0"
futures = "0.3.30"
futures-core = "0.3.30"
itertools = "0.13.0"
jsonschema = "0.18.0"
jsonwebtoken = "9.3.0"
lazy_static = { version = "1.5.0" }
metrics = "0.23.0"
metrics-exporter-prometheus = { version = "0.15.3", features = [
    "http-listener",
], default-features = false }
mimalloc = "0.1.43"
minijinja = { version = "2.1.0", features = ["loader", "debug"] }
rand = "0.8.5"
reqwest = { version = "0.12.5", features = [
    "json",
    "multipart",
    "rustls-tls",
], default-features = false }
reqwest-eventsource = "0.6.0"
secrecy = { version = "0.10.2", features = ["serde"] }
serde = { version = "1.0.204", features = ["derive"] }
serde_json = { version = "1.0.134", features = ["preserve_order"] }
serde_path_to_error = "0.1.16"
sha2 = "0.10.8"
signal = "0.7.0"
strum = { version = "0.26.3", features = ["derive"] }
strum_macros = "0.26.3"
tokio = { version = "1.38.1", features = ["full"] }
tokio-stream = "0.1.15"
toml = "0.8.15"
tracing = { version = "0.1.40", features = ["log", "release_max_level_debug"] }
tracing-subscriber = { version = "0.3.18", features = [
    "env-filter",
    "fmt",
    "json",
] }
url = { version = "2.5.2", features = ["serde"] }
uuid = { version = "1.10.0", features = ["serde", "v7"] }


[dev-dependencies]
tempfile = "3.10.1"
tracing-test = { version = "0.2.5", features = ["no-env-filter"] }
