[package]
name = "gateway"
version = "0.1.0"
edition = "2021"

[dependencies]
tensorzero_internal = { path = "../tensorzero_internal" }
axum = { version = "0.7.5", features = ["macros"] }
tracing = { version = "0.1.40", features = ["log", "release_max_level_debug"] }
tokio = { workspace = true }
mimalloc = "0.1.43"

[lints]
workspace = true
