[package]
name = "gateway"
version.workspace = true
rust-version.workspace = true
edition = "2021"
license.workspace = true

[dependencies]
tensorzero-internal = { path = "../tensorzero-internal" }
axum = { workspace = true }
tracing = { version = "0.1.40", features = ["log", "release_max_level_debug"] }
tracing-subscriber = { version = "0.3.18", features = [
    "env-filter",
    "fmt",
    "json",
] }
tokio = { workspace = true }
mimalloc = "0.1.45"
clap = { workspace = true }
serde = { workspace = true }
tracing-opentelemetry-instrumentation-sdk = { workspace = true }
tower-http = { workspace = true }

[lints]
workspace = true

[features]
e2e_tests = ["tensorzero-internal/e2e_tests"]
default = []

[dev-dependencies]
reqwest.workspace = true
tempfile = "3.20.0"
