[package]
name = "gateway"
version = "0.1.0"
edition = "2021"

[dependencies]
tensorzero-internal = { path = "../tensorzero-internal" }
axum = { workspace = true }
tracing = { version = "0.1.40", features = ["log", "release_max_level_debug"] }
tracing-subscriber = { version = "0.3.18", features = [
    "env-filter",
    "fmt",
    "json",
] }
tokio = { workspace = true }
mimalloc = "0.1.44"
clap = { workspace = true }
serde = { workspace = true }

[lints]
workspace = true

[features]
e2e_tests = ["tensorzero-internal/e2e_tests"]
default = []