# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                 CLICKHOUSE                                 │
# └────────────────────────────────────────────────────────────────────────────┘

TENSORZERO_CLICKHOUSE_URL="http[s]://[username]:[password]@[hostname]:[port]/[database]"

# Example: ClickHouse running locally
# TENSORZERO_CLICKHOUSE_URL="http://chuser:chpassword@localhost:8123/tensorzero"

# Example: ClickHouse Cloud
# TENSORZERO_CLICKHOUSE_URL="https://USERNAME:PASSWORD@XXXXX.clickhouse.cloud:8443/tensorzero"

# Example: TensorZero Gateway running in a container, ClickHouse running on host machine
# TENSORZERO_CLICKHOUSE_URL="http://host.docker.internal:8123/tensorzero"

# ┌────────────────────────────────────────────────────────────────────────────┐
# │                              MODEL PROVIDERS                               │
# └────────────────────────────────────────────────────────────────────────────┘

# Each of these is optional but necessary to infer using the provider

# ANTHROPIC_API_KEY=example
# AWS_ACCESS_KEY_ID=example
# AWS_REGION=us-east-1
# AWS_SECRET_ACCESS_KEY=example
# AZURE_API_KEY=example
# DEEPSEEK_API_KEY=example
# FIREWORKS_API_KEY=example
# GCP_VERTEX_CREDENTIALS_PATH=/path/to/credentials.json
# GOOGLE_AI_STUDIO_API_KEY=example
# HYPERBOLIC_API_KEY=example
# MISTRAL_API_KEY=example
# OPENAI_API_KEY=example
# TGI_API_KEY=example
# TOGETHER_API_KEY=example
# VLLM_API_KEY=example
# VOYAGE_API_KEY=example
# XAI_API_KEY=example
