/* Geist Sans Variable Font */
@font-face {
  font-family: "Geist";
  src: url("/fonts/GeistVariableVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

/* Geist Mono Variable Font */
@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMonoVariableVF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}
