TENSORZERO_CLICKHOUSE_URL="http://chuser:chpassword@localhost:8123/tensorzero" # For testing, set to http://chuser:chpassword@localhost:8123/tensorzero
FIREWORKS_API_KEY="fw_--------------------------"
