# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                   MODELS                                   │
# └────────────────────────────────────────────────────────────────────────────┘

[models.my_gpt_4o_mini]
routing = ["openai"]

[models."my_gpt_4o_mini".providers.openai]
type = "openai"
model_name = "gpt-4o-mini-2024-07-18"

[models."ft:gpt-4o-mini-2024-07-18:tensorzero::Arsyj2TT"]
routing = [ "ft:gpt-4o-mini-2024-07-18:tensorzero::Arsyj2TT" ]

[models."ft:gpt-4o-mini-2024-07-18:tensorzero::Arsyj2TT".providers."ft:gpt-4o-mini-2024-07-18:tensorzero::Arsyj2TT"]
type = "openai"
model_name = "ft:gpt-4o-mini-2024-07-18:tensorzero::Arsyj2TT"

# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                 FUNCTIONS                                  │
# └────────────────────────────────────────────────────────────────────────────┘

[functions.act]
type = "json"
system_schema = "functions/act/system_schema.json"
user_schema = "functions/act/user_schema.json"
output_schema = "functions/act/output_schema.json"

[functions.act.variants.baseline]
type = "chat_completion"
weight = 1.0
model = "my_gpt_4o_mini"
system_template = "functions/act/baseline/system.minijinja"
user_template = "functions/act/baseline/user.minijinja"

[functions.act.variants.history]
type = "chat_completion"
weight = 1.0
model = "my_gpt_4o_mini"
system_template = "functions/act/history/system.minijinja"
user_template = "functions/act/history/user.minijinja"

[functions.act.variants.reasoning]
type = "chat_completion"
weight = 1.0
model = "my_gpt_4o_mini"
system_template = "functions/act/reasoning/system.minijinja"
user_template = "functions/act/reasoning/user.minijinja"

[functions.act.variants.history_and_reasoning]
type = "chat_completion"
weight = 1.0
model = "my_gpt_4o_mini"
system_template = "functions/act/history_and_reasoning/system.minijinja"
user_template = "functions/act/history_and_reasoning/user.minijinja"

[functions.act.variants.history_and_reasoning_ft]
type = "chat_completion"
weight = 1.0
model = "ft:gpt-4o-mini-2024-07-18:tensorzero::Arsyj2TT"
system_template = "functions/act/history_and_reasoning/system.minijinja"
user_template = "functions/act/history_and_reasoning/user.minijinja"

# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                  METRICS                                   │
# └────────────────────────────────────────────────────────────────────────────┘

[metrics.episode_return]
level = "episode"
optimize = "max"
type = "float"

[metrics.progression]
level = "episode"
optimize = "max"
type = "float"
