#! /bin/sh
set -e

# make sure we’re in the repo root (in case Git invokes hooks from .git/hooks)
cd "$(git rev-parse --show-toplevel)"

echo "Running cursorzero.."

# run the installed build of cursorzero
cursorzero "$@"

echo "done!"
