ANTHROPIC_API_KEY="sk-xxx"
DEEPSEEK_API_KEY="sk-xxx"
GOOGLE_AI_STUDIO_API_KEY="xxx"
MISTRAL_API_KEY="xxx"
OPENAI_API_KEY="sk-xxx"
XAI_API_KEY="xai-xxx"

# TensorZero supports many other model providers.
# See https://www.tensorzero.com/docs/gateway/integrations/ for more information.
