[target.'cfg(not(target_arch = "wasm32"))']
rustflags = [
    "--cfg",
    "aws_sdk_unstable", # needed for aws-smithy-types + serde-(de)serialize
]


[alias]
test-unit = "nextest run --lib --bins"
test-all = "nextest run --features e2e_tests"
# Note - 'test-batch', 'test-e2e', and 'test-e2e-no-creds' must be kept in sync
# Running all of them should cover all of our tests, and not miss any
test-batch = ["nextest", "run", "--features", "e2e_tests", "--profile", "batch"]
test-e2e = ["nextest", "run", "--features", "e2e_tests", "--profile", "e2e"]
test-optimization = [
    "nextest",
    "run",
    "--features",
    "optimization_tests,e2e_tests",
    "--profile",
    "optimization",
]
test-optimization-mock = [
    "nextest",
    "run",
    "--features",
    "e2e_tests",
    "--profile",
    "optimization-mock",
]
# Runs e2e tests that don't require any credentials available.
# This is useful for both running on PR CI (where we don't have creds at all),
# and for testing against several different ClickHouse versions (to avoid spending lots of money on inference).
test-e2e-no-creds = [
    "nextest",
    "run",
    "--features",
    "e2e_tests",
    "--profile",
    "clickhouse",
    ]
test-rate-limit-load = [
    "run",
    "--release",
    "--package",
    "rate-limit-load-test",
    "--",
]
test-feedback-load = [
    "run",
    "--release",
    "--package",
    "feedback-load-test",
    "--",
]


build-e2e = "build --bin gateway --features e2e_tests"
run-e2e = "run --bin gateway --features e2e_tests -- --config-file tensorzero-core/tests/e2e/tensorzero.toml"
watch-e2e = "watch -x run-e2e"

tsbuild = [
    "test",
    "export_bindings",
    "-p",
    "tensorzero-core",
    "-p",
    "tensorzero",
    "-p",
    "tensorzero-node",
    "-p",
    "tensorzero-auth",
] # Export Typescript bindings for TensorZero
