OPENAI_API_KEY="sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
TENSORZERO_CLICKHOUSE_URL="http://chuser:chpassword@localhost:8123/tensorzero_bandits_testing"
TENSORZERO_POSTGRES_URL="postgresql://postgres:postgres@localhost:5432/tensorzero-bandits-testing"
