# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                   MODELS                                   │
# └────────────────────────────────────────────────────────────────────────────┘

[models."gpt-4o-2024-08-06"]
routing = ["openai"]

[models."gpt-4o-2024-08-06".providers.openai]
type = "openai"
model_name = "gpt-4o-2024-08-06"

[models."gpt-4o-mini-2024-07-18"]
routing = ["openai"]

[models."gpt-4o-mini-2024-07-18".providers.openai]
type = "openai"
model_name = "gpt-4o-mini-2024-07-18"

# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                 FUNCTIONS                                  │
# └────────────────────────────────────────────────────────────────────────────┘

[functions.judge_haiku]
type = "json"
user_schema = "functions/judge_haiku/user_schema.json"
output_schema = "functions/judge_haiku/output_schema.json"

[functions.judge_haiku.variants.judge_prompt]
weight = 1
type = "chat_completion"
model = "gpt-4o-2024-08-06"
system_template = "functions/judge_haiku/judge_prompt/system_template.minijinja"
user_template = "functions/judge_haiku/judge_prompt/user_template.minijinja"

[functions.write_haiku]
type = "chat"
user_schema = "functions/write_haiku/user_schema.json"

[functions.write_haiku.variants.initial_prompt_gpt4o_mini]
type = "chat_completion"
weight = 0
model = "gpt-4o-mini-2024-07-18"
system_template = "functions/write_haiku/initial_prompt/system_template.minijinja"
user_template = "functions/write_haiku/initial_prompt/user_template.minijinja"

[functions.cheat_haiku]
type = "chat"
user_schema = "functions/write_haiku/user_schema.json"

[functions.cheat_haiku.variants.baseline]
weight = 1
type = "chat_completion"
model = "gpt-4o-2024-08-06"
system_template = "functions/cheat_haiku/initial_prompt/system_template.minijinja"
user_template = "functions/cheat_haiku/initial_prompt/user_template.minijinja"

# ┌────────────────────────────────────────────────────────────────────────────┐
# │                                  METRICS                                   │
# └────────────────────────────────────────────────────────────────────────────┘

[metrics.haiku_score]
type = "boolean"
level = "inference"
optimize = "max"
