# These environment variables are used to configure the TensorZero Gateway and TensorZero Evaluations.
# See https://www.tensorzero.com/docs/gateway/deployment for more information.

# Object Storage
# For AWS, regenerate with: `aws --profile your_local_profile_name configure export-credentials --format env-no-export`)
S3_ACCESS_KEY_ID="..."
S3_REGION="..."
S3_SECRET_ACCESS_KEY="..."
