/* Full Page Width */

/*
#navbar .max-w-8xl {
  max-width: 100%;
}

#sidebar {
  left: 0rem;
  padding-left: 3rem;
}

#sidebar-content {
  padding-left: 2rem;
}
*/

#page-title {
  text-wrap: balance;
}
