# For *using* the TensorZero UI:
#
# FIREWORKS_ACCOUNT_ID="example"
# FIREWORKS_API_KEY="example"
# OPENAI_API_KEY="example"
# TENSORZERO_CLICKHOUSE_URL="http://chuser:chpassword@host.docker.internal:8123/tensorzero" # or the URL of a remote ClickHouse instance
# TENSORZERO_GATEWAY_URL="http://host.docker.internal:3000"                                 # or the URL of a remote TensorZero Gateway instance

# For *developing* the TensorZero UI:
#
# Same provider credentials as above...
#
# TENSORZERO_CLICKHOUSE_URL="http://chuser:chpassword@localhost:8123/tensorzero_ui_fixtures"
# TENSORZERO_GATEWAY_URL="http://localhost:3000"
# TENSORZERO_UI_CONFIG_PATH="fixtures/config/tensorzero.toml"

# For *testing* the TensorZero UI:
#
# ENABLE_TEST_WITH_OPENAI_API="true"
