# TENSORZERO_CLICKHOUSE_URL="http://chuser:chpassword@localhost:8123/tensorzero"
# TENSORZERO_GATEWAY_URL="http://localhost:3000"
# TENSORZERO_POSTGRES_URL="postgres://postgres:postgres@localhost:5432/tensorzero"
