# **Important**: Vite's env loader uses dotenv-expand and treats `$`s as variables,
# so if you need to specify a dollar sign say in you postgres password, escape it
# like `\$`.
# https://vite.dev/guide/env-and-mode#env-files
#
# For example, say our password is `post$gres`:
#
# TENSORZERO_POSTGRES_URL="postgres://postgres:post$gres@localhost:5432/tensorzero"
# ==> loads into UI as postgres://postgres:post@...
#
# TENSORZERO_POSTGRES_URL="postgres://postgres:post\$gres@localhost:5432/tensorzero"
# ==> loads into UI as postgres://postgres:post$gres@...


# TENSORZERO_GATEWAY_URL="http://localhost:3000"
# TENSORZERO_POSTGRES_URL="postgres://postgres:postgres@localhost:5432/tensorzero"
