TENSORZERO_CLICKHOUSE_URL="http://chuser:chpassword@localhost:8123/tensorzero" # For testing, set to http://chuser:chpassword@localhost:8123/tensorzero
GCP_VERTEX_CREDENTIALS_PATH="</path/to/>.config/gcloud/sa-private-key.json"
GCP_PROJECT_ID="<your-project-id>"
GCP_LOCATION="<your-region>"  # e.g. us-central1
GCP_BUCKET_NAME="<your-bucket-name>"
