name: Buildkite Test Suite
run-name: "Buildkite Test Suite: ${{ github.event.pull_request.title || github.ref }}"

on:
  workflow_dispatch:

  # pull_request:
  #   branches: ["main"]

permissions:
  contents: read
  actions: read

jobs:
  unit-tests:
    if: github.repository == 'tensorzero/tensorzero' && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository)
    runs-on: ubuntu-latest
    steps:
      - name: Trigger a Buildkite Build on Push using v2.0.0
        uses: buildkite/trigger-pipeline-action@v2.0.0
        with:
          buildkite_api_access_token: ${{ secrets.TRIGGER_BK_BUILD_TOKEN }}
          pipeline: "tensorzero/pr-tests"
