name: Buildkite Merge Queue Tests
run-name: "Buildkite Merge Queue Tests: ${{ github.event.pull_request.title || github.ref }}"

on:
  # merge_group:
  workflow_dispatch:

permissions: {}

jobs:
  merge-queue-tests:
    runs-on: ubuntu-latest
    if: github.repository == 'tensorzero/tensorzero'
    steps:
      - name: Trigger a Buildkite Build on Push using v2.0.0
        uses: buildkite/trigger-pipeline-action@v2.0.0
        with:
          buildkite_api_access_token: ${{ secrets.TRIGGER_BK_BUILD_TOKEN }}
          pipeline: "tensorzero/merge-queue-tests"
