name: Force add to merge queue
permissions:
  contents: read
  actions: write
  statuses: write

# This workflow allows us to add PRs to the merge queue without waiting on PR checks to pass.
# It's activated by adding the special 'force-add-to-merge-queue' label to a PR.
# It *DOES NOT* skip running checks in the merge queue, so it's always safe to use - in the worst
# case, we just waste time (+ API spending) in the merge queue for a PR that would have failed earlier.

# Important: *DO NOT* add 'merge_group' (or any other trigger) to the workflow.
# We need to ensure that this *never* runs for PRs that are inside the merge queue, so
# that actually merging a PR requires the real 'check-all-general-jobs-passed' job to pass.

on:
  pull_request:
    types: [labeled, unlabeled]

jobs:
  attach-successful-status:
    name: Attach a 'check-all-general-jobs-passed' status to the PR
    # Only run this job if the force-add-to-merge-queue label is present
    if: contains(github.event.pull_request.labels.*.name, 'force-add-to-merge-queue')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      -
        name: Attach a 'check-all-general-jobs-passed' status to the PR
        # Note that GitHub doesn't let you remove a commit status, so we don't do anything if the label is removed.
        # Pushing a new commit to the PR will trigger a new 'general.yml' run, which will become the latest status
        # for the PR.
        # This only controls when a PR can be added to the merge queue, **NOT** whether or not it will pass in the merge queue,
        # so this behavior is fine.
        if: github.event.action == 'labeled'
        run: |
          gh api repos/${{ github.repository }}/statuses/${{ github.sha }} \
            -f context=check-all-general-jobs-passed \
            -f state=success \
            -f target_url=https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}