name: General Checks

on:
  merge_group:
  pull_request:
    branches: ["main", "dashboard"]

env:
  FORCE_COLOR: 1

jobs:
  validate:
    runs-on: ubuntu-22.04-8core

    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v4

      - name: Set up Cargo Cache
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-nextest and cargo-deny
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest,cargo-deny

      - name: Build (Rust)
        run: cargo build --verbose

      - name: Lint (Rust)
        run: |
          cargo fmt -- --check
          cargo clippy --all-targets --all-features -- -D warnings

      - name: Run cargo-deny
        run: cargo deny check bans

      - name: Test (Rust)
        run: |
          cargo test-unit ${{vars.CARGO_NEXTEST_ARGS}}

      - name: Lint (Python)
        run: |
          python -m pip install ruff
          ruff format --check .
          ruff check --output-format=github --extend-select I .

      - name: Run mypy type checking
        working-directory: clients
        run: |
          python -m pip install mypy
          python -m mypy python --strict

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.9.0"

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build minijinja WASM bindings
        working-directory: dashboard/utils/minijinja
        run: wasm-pack build --features console_error_panic_hook

      - name: Run minijinja WASM tests
        working-directory: dashboard/utils/minijinja
        run: wasm-pack test --node --features console_error_panic_hook

      - name: Install npm dependencies
        working-directory: dashboard
        run: npm install --platform=linux

      - name: Run ESLint
        working-directory: dashboard
        run: |
          npx eslint . --fix --max-warnings=0 --config eslint.config.js --cache

      - name: Run Prettier
        working-directory: dashboard
        run: |
          npx prettier --write --list-different "**/*.{js,jsx,ts,tsx,css,scss,html,json,yaml,md}" --ignore-path "**/*.ipynb"

      - name: Run TypeScript type checking
        working-directory: dashboard
        run: |
          npx tsc

      - name: Start services for dashboard tests
        run: docker compose -f dashboard/docker-compose.yml up -d --wait clickhouse gateway

      - name: Load test fixtures
        run: docker compose -f dashboard/docker-compose.yml run fixtures

      - name: Run dashboard tests
        working-directory: dashboard
        run: npm test
