name: CI
on:
  - workflow_call
jobs:
  deploy-minikube:
    runs-on: ubuntu-latest
    name: Run 'examples/production-deployment-k8s-helm' on minikube
    steps:
    - uses: actions/checkout@v4
    - name: Start minikube
      uses: medyagh/setup-minikube@e3c7f79eb1e997eabccc536a6cf318a2b0fe19d9
    - name: Download gateway container
      uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e
      with:
        pattern: build-*-container
        merge-multiple: true
    - name: Load gateway and ui containers
      run: |
        docker load < gateway-container.tar
        docker load < ui-container.tar
        minikube image load gateway-container.tar
        minikube image load ui-container.tar

    - name: Create helm overrides file
      run: |
        cd examples/production-deployment-k8s-helm
        cat > helm-ci-overrides.yaml <<EOF
        gateway:
          image:
            repository: tensorzero/gateway
            # We load this from the build-gateway-container job
            tag: sha-${{ github.sha }}
            pullPolicy: Never
        ui:
          image:
            repository: tensorzero/ui
            # We load this from the build-ui-container job
            tag: sha-${{ github.sha }}
            pullPolicy: Never
        EOF
        sed -i 's/^        //' helm-ci-overrides.yaml


    - name: Install ClickHouse on minikube
      run: |
        cd examples/production-deployment-k8s-helm
        helm repo add altinity https://altinity.github.io/helm-charts
        helm repo update
        kubectl create namespace clickhouse
        helm install clickhouse altinity/clickhouse -n clickhouse -f clickhouse-values.yaml
        # TODO - get this working
        # kubectl wait --for=condition=ready pod chi-clickhouse-clickhouse-0-0-0 -n clickhouse --timeout=60s

    - name: Install TensorZero on minikube
      run: |
        cd examples/production-deployment-k8s-helm
        kubectl create namespace tensorzero
        kubectl create secret generic tensorzero-secret -n tensorzero \
            --from-literal=TENSORZERO_CLICKHOUSE_URL="http://default:tensorzero@chi-clickhouse-clickhouse-0-0-0.chi-clickhouse-clickhouse-0-0.clickhouse.svc.cluster.local:8123" \
            --from-literal=TENSORZERO_GATEWAY_URL="http://tensorzero-gateway.tensorzero.svc.cluster.local:3000" \
            --from-literal=OPENAI_API_KEY="fake-openai-api-key"
        helm upgrade --install tensorzero .  -f values.yaml -f helm-ci-overrides.yaml -n tensorzero
        kubectl wait --for=condition=ready pod -l app.kubernetes.io/name=tensorzero -n tensorzero --timeout=60s

    - name: Port forward the gateway and ui services
      run: |
        kubectl port-forward service/tensorzero-gateway -n tensorzero 3000:3000 &
        kubectl port-forward service/tensorzero-ui -n tensorzero 4000:4000 &
    
    - name: Ping the gateway
      run: |
        curl http://localhost:3000/health

    - name: Print pod statuses
      if: always()
      run: |
        kubectl get pods -A

    - name: Run 'kubectl describe pods'
      if: always()
      run: |
        kubectl describe pods -n tensorzero

    - name: Print kubectl logs
      if: always()
      run: |
        kubectl logs -n tensorzero --timestamps=true --all-pods=true --all-containers=true -l app.kubernetes.io/instance=tensorzero
