name: Provide Pull Request Feedback to TensorZero CI Bot

on:
  pull_request:
    types: [closed]

permissions:
  contents: read
  pull-requests: read
  actions: read

jobs:
  create-pr-feedback:
    runs-on: ubuntu-latest
    name: Create PR Feedback
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.CI_BOT_TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.CI_BOT_TS_OAUTH_CLIENT_SECRET }}
          tags: tag:ci

      - name: Send PR Feedback
        uses: tensorzero/experimental-ci-bot/create-pr-feedback@6075c5483e949af3acec76c40b755dcccd99e6b0
        with:
          tensorzero-base-url: http://ci-bot-gateway:3000
          tensorzero-pr-merged-metric-name: ci_fix_pr_merged_agent
          clickhouse-url: ${{ secrets.CI_BOT_CLICKHOUSE_URL }}
          clickhouse-table: GitHubBotPullRequestToInferenceMap
