name: UI Tests

on:
  workflow_call:

jobs:
  build-gateway:
    runs-on: namespace-profile-tensorzero-8x16

    steps:
      - uses: namespacelabs/nscloud-checkout-action@v6

      - name: Build `gateway` container
        working-directory: ui
        run: |
          touch fixtures/.env # file must exist but not used while building the container
          docker compose -f fixtures/docker-compose.yml build gateway

      - name: Save `gateway` container
        run: docker save fixtures-gateway > ui-tests-gateway-container-${{ github.run_id }}.tar

      - name: Upload `gateway` container as an artifact
        uses: namespace-actions/upload-artifact@v1
        with:
          name: ui-tests-gateway-container-${{ github.run_id }}
          path: ui-tests-gateway-container-${{ github.run_id }}.tar
          retention-days: 1
          if-no-files-found: error
          overwrite: false

  test:
    needs: build-gateway

    runs-on: namespace-profile-tensorzero-8x16

    strategy:
      matrix:
        clickhouse_version: ["24.12-alpine", "25.2-alpine", "latest-alpine"]

    steps:
      - uses: namespacelabs/nscloud-checkout-action@v6

      - name: Setup `uv`
        run: curl -LsSf https://astral.sh/uv/0.6.17/install.sh | sh

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.9.0"

      - name: Setup `pnpm`
        uses: pnpm/action-setup@v4
        with:
          version: "10"

      - name: Install `pnpm` dependencies
        working-directory: ui
        run: pnpm install --frozen-lockfile

      - name: Setup the Namespace cache for `s3-fixtures`
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: |
            ./ui/fixtures/s3-fixtures

      - name: Setup `wasm-pack`
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build minijinja WASM bindings
        working-directory: ui/app/utils/minijinja
        run: wasm-pack build --features console_error_panic_hook

      - name: Download `gateway` container
        uses: namespace-actions/download-artifact@v1
        with:
          name: ui-tests-gateway-container-${{ github.run_id }}
          path: .

      - name: Load `gateway` container
        run: docker load < ui-tests-gateway-container-${{ github.run_id }}.tar

      - name: Start services for UI tests
        working-directory: ui
        run: |
          echo "TENSORZERO_CLICKHOUSE_URL=http://chuser:chpassword@localhost:8123/tensorzero_ui_fixtures" >> fixtures/.env
          TENSORZERO_CLICKHOUSE_VERSION=${{ matrix.clickhouse_version }} docker compose -f fixtures/docker-compose.yml up -d --wait

      - name: Run `pnpm test`
        working-directory: ui
        env:
          OPENAI_API_KEY: not_used
          TENSORZERO_UI_CONFIG_PATH: fixtures/config/tensorzero.toml
          TENSORZERO_CLICKHOUSE_URL: http://chuser:chpassword@localhost:8123/tensorzero_ui_fixtures
          TENSORZERO_GATEWAY_URL: http://localhost:3000
        run: pnpm test

      - name: Print test logs
        if: always()
        working-directory: ui
        run: docker compose -f fixtures/docker-compose.yml logs -t

      - name: Print ClickHouse error logs
        if: always()
        run: docker exec fixtures-clickhouse-1 cat /var/log/clickhouse-server/clickhouse-server.err.log

      - name: Print ClickHouse trace logs
        if: always()
        run: docker exec fixtures-clickhouse-1 cat /var/log/clickhouse-server/clickhouse-server.log
